.body{
    padding: 0;
    margin: 0;
}
.body{
    font-family: 'Merriweather', serif;
}
.flex{
    display: flex;
    align-items: center;
    /* padding-top: 50px; */
    height: 100vh;
}
.skip{
    color: orange;
}
.banner1half{
    width: 45%;
    margin-left: 5%;
}
.banner1half img{
    width: 80%;
}
.banner1half h1{
    font-size: 50px;
}
.banner1half p{
    font-size: 20px;
}
.btn{
    text-decoration: none;
    padding: 17px 30px;
    background-image: linear-gradient(to right, orange,tomato);
    color: aliceblue;
}  
.banner2half{
    width: 40%;
    margin-left: 5px;
    margin-right: 5px;

}
.banner2half img{
    width: 74%;
    margin-top: 5px;
}
.about{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
}