.body{
    padding: 0;
    margin: 0;
}
.body{
    font-family: 'Merriweather', serif;
}
.banner1{
    display: flex;
    align-items: center;
    /* padding-top: 50px; */
    height: 100vh;
}
.banner1half{
    width: 45%;
    margin-left: 5%;
}
.banner1half img{
    width: 80%;
}
.banner1half h1{
    font-size: 50px;
}
.banner1half p{
    font-size: 20px;
}
.banner1half a{
    text-decoration: none;
    padding: 17px 30px;
    background-image: linear-gradient(to right, orange,tomato);
    color: aliceblue;
    border
}   
 
